<hr>

<footer>
	<div class="grid small">
		<div class="col-1-5 hide-on-mobile">
			<p>
			<img src="{{site.static-url}}/img/logos/logoFooter.svg" width="162" height="50" class="img-footer" alt="Mage.coach logo">

			</p>
			<p>mage.coach</p>
			</div>

	<div class="col-1-6">
		<h3>Connect</h3>
		<ul>
		<li><a href="https://twitter.com/magecoach">Twitter</a></li>
		<li><a href="https://www.facebook.com/magecoach">Facebook</a></li>
	</div>
	<div class="col-1-6">
		<h3>mage.coach</h3>
		<ul>
		<li><a href="{{site.baseurl}}/aboutus/">About Us</a></li>
		<li><a href="https://www.stickermule.com/en/marketplace/17274-mage-dot-coach">Stickers</a></li>
		<li><a href="{{site.baseurl}}/logo/">Logos</a></li>
	</ul>
	</div>
	<div class="col-1-6">
		<h3>&hearts; Open Source &hearts;</h3>
		<ul>
			<li><a href="http://www.seleniumhq.org/">Selenium</a></li>
			<li><a href="https://www.sitespeed.io/">Sitespeed</a></li>
			<li><a href="https://github.com/WPO-Foundation/visualmetrics">Visual Metrics</a></li>
			<li><a href="https://github.com/micmro/PerfCascade">PerfCascade</a></li>
			<li><a href="http://getskeleton.com/">Skeleton</a></li>
			<li><a href="https://github.com/cgiffard/node-simplecrawler">Simplecrawler</a></li>
		</ul>
	</div>

	<div class="col-1-1">
	<p class="copy">
		&copy; Mage.coach
		{{ site.time | date: '%Y' }}, last updated {{ site.time | date: "%H:%M %d %B %Y"  }}
	</p>
</div>

</div>
<p></p>
</footer>
