<hr>

<footer>
	<div class="grid small">
		<div class="col-1-4 hide-on-mobile">
			<p>
			<amp-img noloading height="50" width="162" alt="Mage.coach logo" layout="responsive" src="{{site.static-url}}/img/logos/logoFooter.svg" class="img-footer"></amp-img>
			</p>
			<p>mage.coach</p>
			</div>

	<div class="col-1-4">
		<h3>Connect</h3>
		<ul>
		<li><a href="https://twitter.com/magecoach">Twitter</a></li>
		<li><a href="https://www.facebook.com/magecoach">Facebook</a></li>
		<li><a href="https://www.youtube.com/channel/UCEmelQhyVjPdN07V286mt6g">YouTube</a></li>

	</div>
	<div class="col-1-4">
		<h3>mage.coach</h3>
		<ul>
		<li><a href="{{site.baseurl}}/aboutus/">About Us</a></li>
		<li><a href="https://www.stickermule.com/en/user/1070818556/stickers">Stickers</a></li>
		<li><a href="{{site.baseurl}}/logo/">Logos</a></li>
		<li><a href="https://run.mage.coach">run.mage.coach</a></li>
	</ul>
	</div>
	<div class="col-1-4">
		<h3>&hearts; Open Source &hearts;</h3>
		<ul>
			<li><a href="https://magento.com/">Magento</a></li>
			<li><a href="http://www.seleniumhq.org/">Selenium</a></li>
			<li><a href="https://www.sitespeed.io/">Sitespeed</a></li>
			<li><a href="https://github.com/WPO-Foundation/visualmetrics">Visual Metrics</a></li>
			<li><a href="https://github.com/micmro/PerfCascade">PerfCascade</a></li>
			<li><a href="http://getskeleton.com/">Skeleton</a></li>
			<li><a href="https://github.com/cgiffard/node-simplecrawler">Simplecrawler</a></li>
		</ul>
	</div>

	<div class="col-1-1">
	<p class="copy">
		&copy; Mage.coach
		{{ site.time | date: '%Y' }}, last updated {{ site.time | date: "%H:%M %d %B %Y"  }}
	</p>
</div>

</div>
<p></p>
</footer>
