body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: Tahoma, Verdana,sans-serif;
  font-size: 19px;
  line-height: 1.618em;
  word-wrap: break-word;
  background-color: #b9d6ef;
}

.nav {
  background: #266b97;
}

.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: #266b97;
}
.nav li {
  font-size: 1em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #b9d6ef;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.nav a:hover {
  background-color: #b9d6ef;
}

.nav a.active {
  background-color: #b9d6ef;
  color: #fff;
  cursor: default;
}

.logo {
  text-align: center;
  background-color: #266b97;
}

.navbar-brand {
padding: 5px;
font-size: 18px;
max-width: 250px;
margin: 0 auto;
}

.nav li ul {
  position: absolute;
  display: none;
  width: inherit;
}

@media screen and (min-width: 820px) {

  body
  { padding-top: 50px; }

  .nav {
    height: 50px;
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
  }

  .navbar-brand {
  padding: 5px;
  font-size: 18px;
  float: left;
  max-width: 250px;
  width: 162px;
  height: 50px;
  }

  .nav a {
    padding-left: 20px;
    padding-right: 20px;

  }

  .nav {
    z-index: 10;
    top: 0;
    background-color: #266b97;
  }

  .nav li {
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1em;
    float: left;
    display: inline-block;
    margin-right: 0px;
  }

  .nav a {
    text-decoration: none;
    color: #fff;
    display: block;
  }

  .nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #266b97;
  }

  /* Sub Menus */
    .nav li ul {
      position: absolute;
      display: none;
      width: inherit;
    }

    .nav li:hover ul {
      display: block;
    }

    .nav li ul li {
      display: block;
      float: none;
    }

    /* Fix for fixed navigation and links */
    :target:before {
      content:"";
      display:block;
      height:50px; /* fixed header height*/
      margin:-50px 0 0; /* negative fixed header height */
    }

}
