.white {
  background-color: #ffffff;
  padding-bottom: 20px;
}

.copy {
  padding-top: 20px;
}

.flogo {
  padding-top: 10px;
}

footer h3 {
    margin-bottom:10px;
}

.pull-left {
float: left;
}

.pull-right {
float: right;
}

.img-big {
margin-right: 20px;
}

.img-footer {
margin-top: 15px;
}

.middle {
vertical-align: middle;
width: 32px;
}

.fastly {
vertical-align: middle;
height: 32px;
}

hr {
margin-top: 20px;
margin-bottom: 20px;
border: 0;
border-top: 1px solid #eee;
box-sizing: content-box;
height: 0;
}

footer p {
text-align: center;
margin: 0;
}

a {
color: #428bca;
text-decoration: none;
}

code {
  background-color: #eee;
  padding: 2px;
}

pre code {
display: block;
padding: 9.5px;
margin: 0 0 10px;
font-size: 13px;
line-height: 1.428571429;
word-break: break-all;
word-wrap: break-word;
color: #333;
background-color: #f5f5f5;
border: 1px solid #ccc;
border-radius: 4px;
font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
white-space: pre-wrap;
}

.note-info {
background-color: #f0f7fd;
border-color: #d0e3f0;
}
.note {
margin: 20px 0;
padding: 15px 30px 15px 15px;
border-left: 10px solid #eee;
}

.note-warning {
background-color: #fcf2f2;
border-color: #dfb5b4;
}

.img-thumbnail img {
padding: 4px;
line-height: 1.428571429;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 4px;
-webkit-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
display: inline-block;
max-width: 100%;
height: auto;
}

.small {
  font-size: 0.8em;
  line-height: 1.2em;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer li {
  padding-bottom: 4px;
}

footer a {
  color: #266b97;
}

a btn {
  margin-top: 10px;
}

.photo {
border-radius: 10px;
margin-right: 20px;
margin-bottom: 10px;
}

.language-help {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin-right: 5%;
    margin-left: 5%;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #03C9A9;
  margin: 1.5em 10px;
  padding:10px;
}
blockquote:before {
	font-family : georgia;
  color: #6C7A89;
  content: open-quote;
  font-size: 60px;
  /* how to fix the quote position*/
  line-height: 0.1em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
  letter-spacing : 1px;
}

blockquote span {
  display : block;
  margin-top : 10px;
  margin-left : 10px;
  font-size : 15px;
  font-style:italic;
}
blockquote span:before {
  content : "-";
  margin-right : 3px;
}

.btn {
  text-align: center;
  padding-bottom: 23px;
}

.button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
.button:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary {
  color: #000000;
  background-color: #ffd100;
  border-color: #ffd100; }
.button.button-primary:hover,
.button.button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB;
}

amp-accordion section[expanded] .show-more {
  display: none;
}
amp-accordion section:not([expanded]) .show-less {
  display: none;
}
.nested-accordion h4 {
  font-size: 14px;
  background-color: #ddd;
}
amp-accordion#hidden-header section[expanded] h4 {
  border: none;
}

@media screen and (max-width: 820px) {
  .small {
    text-align: center;
    font-size: 19px;
  }

  h1 {
    line-height: 1em;
  }

  ul {
    padding-left: 10px;
    margin-left: 10px;
  }
  .btn {
    text-align: center;
    padding-bottom: 13px;
  }
}
